<% include _head.ejs %>
<link href="/css/topics.css" rel="stylesheet">
<link href="utils/flat-ui/css/vendor/simditor.css" rel="stylesheet">
<% include _header.ejs %>
<div class="navbar navbar-default navbar-static-top navber-transparent" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">菜单</span>
            </button>
            <a class="navbar-brand" href="/">nucleus</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="projectindex">项目</a></li>
                <li><a href="/allweekly">周报</a></li>
                <li><a href="/event">动态</a></li>
                <li><a href="#contact">个人中心</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= user.name %> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">个人资料</a></li>
                        <li class="divider"></li>
                        <li><a href="/logout">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="c-info">
    <% if (error) { %>
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <%= error %>
    </div>
    <% } %>
</div>


<div class="c-info">
    <% if (success) { %>
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <%= success %>
    </div>
    <% } %>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 page">
            <div>
                <h1 class="page-title">
                   评论
                </h1>
            </div>

            <h4 class="title"><%= topic.title%></h4>
            <div class="topic">
                <%- topic.content%>
            </div>

            <div class="messages" id="messages">
                <% if (comments.length > 0) { %>
                <% comments.forEach(function (item) { %>

                <div class="message " id="message" name="<%= item.id %>">
                    <img class="avatar" src="/img/bj.jpg" />
                    <div class="name">
                        <%=item.user_name%>
                    </div>

                  <span class="message-title">
                          <span class="todo-rest">
                              <%  var date = new Date(item.time * 1000);
                          var year = date.getFullYear();
                          var month = date.getMonth() + 1;
                          var day = date.getDate();
                          var hours = date.getHours();
                          var minutes = '0' + date.getMinutes();
                          minutes = minutes.substr(-2);
                              %>
                              <%= hours %>:<%= minutes %>, <%= year %>年<%= month %>月<%= day %>日</span>
                  </span>

                  <span class="message-content">
                      <%- item.content%>
                  </span>
                    <%if(user.id==item.user_id){%>
                    <a>编辑</a>
                    <a href="/deleteComment?id=<%=item.id%>">删除</a>
                    <%}%>
                </div>


                <% }); %>
                <% } else { %>
                <div class="empty">
                    暂时没有评论
                </div>
                <% } %>
                <div class="message " id="message">
                    <img class="avatar" src="/img/bj.jpg" />
                    <div class="name">
                        <%=user.name%>
                    </div>
                    <input type="text"  class="form-control" tabindex="1" name="content" id="commit1" onfocus="show1()"/>

                <section id="parent" style="display: none">
                    <div  id="form1">
                        <div  class="form-item">
                            <div>
                                <input type="hidden" value="<%= topic.id%>" id="topic_id">
                                <textarea id="txt-content"  class="form-control" tabindex="1" name="content"></textarea>
                            </div>
                        </div>
                        <div class="form-item">
                            <button tabindex="1" class="btn" id="submit" data-disable-with="正在提交...">发表评论</button>
                            <a tabindex="2" href="javascript:;" class="btn" id="link-cancel-post">取消</a>
                        </div>
                    </div>
                </section>
                </div>
            </div>
            <%if(topic.user_id==user.id){%>
            <div class="detail-actions" style="float: right ;margin-right: 10%">
                <div class="item" data-visible-to="creator,admin">
                    <a href="/projects/d4f721d3308442eead2aecdbb40fc8d1/messages/b072666c00ea48699f707b4eb902d346/edit" class="detail-action detail-action-edit" data-loading="true" data-method="get" data-remote="true">编辑</a>
                </div>
                <div class="item" data-visible-to="creator,admin">
                    <a href="deleteTopic?id=<%=topic.id%>" class="detail-action detail-action-del" data-confirm="确定要删除这条讨论吗？" data-method="post" data-remote="true" data-stack-replace="true" rel="nofollow">删除</a>
                </div>
            </div>
            <%}%>
        </div>

    </div>
</div>


<% include _footer.ejs %>
<script src="/utils/flat-ui/js/vendor/module.min.js"></script>
<script src="/utils/flat-ui/js/vendor/uploader.min.js"></script>
<script src="/utils/flat-ui/js/vendor/hotkeys.min.js"></script>
<script src="/utils/flat-ui/js/vendor/simditor.min.js"></script>
<script src="/utils/flat-ui/js/vendor/simditor-demo.js"></script>
<script>
    function show(){
        document.getElementById("txt_begin").style.display="none";
        document.getElementById("txt").style.display="block";
    }

    function show1(){
        document.getElementById("commit1").style.display="none";
        document.getElementById("parent").style.display="block";
    }
    $('#submit').click(function () {

        var content = document.getElementById("txt-content").value;
        var topic_id = document.getElementById("topic_id").value;
        if(content!="") {
            var data = {
                content: content,
                topic_id: topic_id
            };
            $.post('/commit', data, function (res) {
                if (res.code == "success") {
                    alert('评论成功！');
                    // todo  跳转到个人中心
                    window.location.href = '/comment?id=<%= topic.id %>';

                } else {
                    alert('评论失败');
                    window.location.href = '/projectindex';
                }
            });
        }
        else{
            alert("输入不能为空");
        }
    });


    document.getElementById('link-cancel-post').addEventListener('click', function(e) {
        document.getElementById("commit1").style.display="block";
        document.getElementById("parent").style.display="none";
        // 当<a>触发click时，处理业务
    }, false);
</script>
<% include _foot.ejs %>