<% include _head.ejs %>
<link href="/css/home.css" rel="stylesheet">
<link href="/css/new-project.css" rel="stylesheet">
<link href="/utils/sweetalert/sweetalert.css" rel="stylesheet">
<link href="/css/folder.css" rel="stylesheet">
<% include _header.ejs %>
<% include _nav.ejs %>
<script src="/utils/flat-ui/js/vendor/jquery.min.js"></script>

<div class="c-info">
  <% if (error) { %>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <%= error %>
  </div>
  <% } %>
</div>

<div class="c-info">
  <% if (success) { %>
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <%= success %>
  </div>
  <% } %>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <a href="/projectindex" class="c_behind_title">
        <div class="new-project">
          <div class="link-page-behind" id="behind">
            项目管理
          </div>
        </div>
      </a>
    </div>


    <input type="number" class="display_none" id="folder_id" value="<%= folder_id %>">

    <div class="col-xs-10 col-xs-offset-1 page">
      <div class="dir-title">
        <div class="crumb">
          <!--<a class="link-dir ui-droppable" href="/all_folder" data-guid="0" data-stack="" data-stack-replace="">文件</a>-->
          <a class="link-dir ui-droppable" href="javascript:;" data-guid="0" data-stack="" data-stack-replace="">文件</a>
          <span class="separator twr twr-angle-right">/</span>
          <span class="current-dir"><%= folder_info.name %></span>
        </div>
        <div class="btn-group c_folder_upload_btn">
          <button class="btn btn-default btn-xs c_margin_left c_btn" id="upload_file_button" type="button">上传文件</button>
          <button data-toggle="dropdown" class="btn btn-default dropdown-toggle btn-xs c_btn_select" type="button">
            <span class="caret"></span>
            <span class="sr-only">上传文件</span>
          </button>
          <ul role="menu" class="dropdown-menu">
            <li><a href="javascript:;" id="upload_file">上传文件</a></li>
          </ul>
        </div>
      </div>

      <% if (files.length > 0) { %>
      <table class="table table-hover c_table">
        <thead>
        <tr>
          <th>名称</th>
          <th>大小(B)</th>
          <th>最后修改时间</th>
          <th></th>
        </tr>
        </thead>
        <tbody>

        <% files.forEach(function (item) { %>
        <tr class="id_tr">
          <th><%= item.name %></th>
          <th><%= item.size %></th>
          <%
            var date = new Date(item.modify_time * 1000);
            var year = date.getFullYear();
            var month = date.getMonth() + 1;
            var day = date.getDate();
            var hours = date.getHours();
            var minutes = '0' + date.getMinutes();
            minutes = minutes.substr(-2);


            var current_date = new Date();
            var current_year = current_date.getFullYear();
            var current_month = current_date.getMonth() + 1;
            var current_day = current_date.getDate();

//            year = year == current_year ? '' : year + '.';
//            month = month == current_month ? '' : month + '.';
//            day = day == current_day ? '' : day + ' ';
          %>
          <th> <%= current_year %> <%= current_month %> <%= current_day %> <%= hours %>:<%= minutes %></th>
          <td>
            <div class="display_none c_folder_file_action id_action_file">
              <a href="/folders/<%= item.path %>" class="id_download" download="<%= item.name %>">下载</a>
              <a href="/file/delete/<%= item.id %>/<%= folder_id %>">删除</a>
            </div>
          </td>
        </tr>
        <% }); %>
        </tbody>
      </table>
      <% } else { %>
      <h4>文件夹空空如也</h4>
      <% } %>

    </div>
  </div>
</div>


<div class="display_none" id="upload_file_form"></div>

<% include _footer.ejs %>
<script src="/utils/sweetalert/sweetalert-dev.js"></script>
<script type="text/javascript" src="/js/folder.js"></script>
<% include _foot.ejs %>