<% include _head.ejs %>
<link href="/css/home.css" rel="stylesheet">
<link href="/css/profile.css" rel="stylesheet">
<link href="/utils/sweetalert/sweetalert.css" rel="stylesheet">
<% include _header.ejs %>
<% include _nav.ejs %>

<div class="c-info">
  <% if (error) { %>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <%= error %>
  </div>
  <% } %>
</div>

<div class="c-info">
  <% if (success) { %>
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <%= success %>
  </div>
  <% } %>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 page">
      <div class="member-info">
        <%
        var avatar = '/folders/upload_27af509d141cc6d6b6b5238f683ab2f3.jpg';
        if (profile.avatar != '') {
          avatar = profile.avatar;
        }
        %>
        <img class="avatar" alt="蒋航" src="/folders/<%= avatar %>">
        <div class="info">
          <h2><%= profile.name %></h2>
          <p><a class="link email" href="mailto:<%= profile.email %>" target="_blank"><%= profile.email %></a></p>
        </div>
        <div class="member-control">
        </div>
      </div>

      <div class="member-nav">
        <ul>
          <li class="active">
            <a href="javascript:;" data-stack-replace="true" data-stack="true">资料</a>
          </li>
          <li class="">
            <a href="/profile_task" data-stack-replace="true" data-stack="true">任务</a>
          </li>
        </ul>
      </div>
      <div class="col-xs-10">
        <form class="display_none" enctype="multipart/form-data">
          <input type="file" id="avatar_upload" name="avatar_upload">
        </form>
        <form class="form-horizontal profile_form" action="/profile" method="post">
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">头像</label>
            <div class="col-sm-10 update_password_div">
              <a class="update_password" id="avatar" href="javascript:;">选择新头像</a>
            </div>
          </div>
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">密码</label>
            <div class="col-sm-10 update_password_div">
              <a class="update_password" href="/update_password">修改密码</a>
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="col-sm-2 control-label">邮箱</label>
            <div class="col-sm-10">
              <input type="email" class="form-control email" id="email" value="<%= profile.email %>" disabled>
            </div>
          </div>
          <div class="form-group">
            <label for="name" class="col-sm-2 control-label">名字</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="name" id="name" placeholder="请输入您的名字" value="<%= profile.name %>">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary">保存</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<% include _footer.ejs %>
<script type="text/javascript" src="/js/profile.js"></script>
<script src="/utils/sweetalert/sweetalert-dev.js"></script>
<% include _foot.ejs %>