<% include _head.ejs %>
<link href="css/project.css" rel="stylesheet">
<link href="/css/home.css" rel="stylesheet">
<script src="/utils/flat-ui/js/vendor/jquery.min.js"></script>
<% include _header.ejs %>
<div class="navbar navbar-default navbar-static-top navber-transparent" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">菜单</span>
            </button>
            <a class="navbar-brand" href="/">nucleus</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="projectindex">项目</a></li>
                <li><a href="/allweekly">周报</a></li>
                <li><a href="/event">动态</a></li>
                <li><a href="#contact">个人中心</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= user.name %> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">个人资料</a></li>
                        <li class="divider"></li>
                        <li><a href="/logout">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
<div class="c-info">
    <% if (error) { %>
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <%= error %>
    </div>
    <% } %>
</div>
<div class="c-info">
    <% if (success) { %>
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <%= success %>
    </div>
    <% } %>
</div>
<div id="project" class="page-inner">
    <div class="project-content">
        <div class="project-header">
            <div class="project-hd-info">
                <p><%= project.name%></p>
                <%if(project.checkbox==1){%>
                <p><%=project.description%></p><%}%>
            </div>

            <div class="project-links">

                <a href="/projects/a422d56cdb3548bea24e3edb01a8c594/stats" class="link-stats" title="待处理任务" data-stack="" data-nocache="">
                    <span class="main">0</span>
                    <span>待处理任务</span>
                </a>

                <a href="/projects/a422d56cdb3548bea24e3edb01a8c594/members" class="link-admin-members" title="邀请新成员加入项目" data-stack="" data-nocache="">
                    <span class="main"><%= projectinf.length%></span>
                    <span>成员</span>
                </a>

                <a href="/projects/a422d56cdb3548bea24e3edb01a8c594/settings" class="link-admin-settings" title="项目设置" data-visible-to="admin" data-stack="" data-nocache="">
                    <span class="fui-gear"></span>
                    <span class="setting">设置</span>
                </a>
            </div>
        </div>
        <div class="project-sections ">
            <div class="section section-todos" id="todolists">
                <h5><a>任务</a>
                        <a  id="mission"  href="/todo?ssl=<%= project.ss%>" class="btn demo-heading-note"
                                data-toggle="dropdown">
                            添加任务
                        </a>
                </h5>
            </div>
            <div class="section section-messages" id="topics" data-droppable="">
                <h5><a>讨论</a>
                    <a id="topic" href="/topics?ssl=<%= project.ss%>" class="btn demo-heading-note">发起讨论</a>
                </h5>
            </div>
            <div class="section section-file" id="todolists">
                <h5><a href="#">文件</a>

                        <button type="button" class="btn demo-heading-note" id="dropdownMenu1">
                            上传文件
                        </button>


                </h5>
            </div>
            <div class="section section-word" id="todolists">
                <h5><a class= href="#">文档</a>
                    <button class="btn demo-heading-note"style=" margin-left: 43px">创建文档</button>
                </h5>
            </div>
            <div class="section section-data" id="todolists">
                <h5><a>周报</a>
                    <a id="topic" href="/weekly?ssl=<%= project.ss%>" class="btn demo-heading-note">创建周报</a>
                </h5>
            </div>

        </div>
    </div>
</div>
<script src="js/project.js"></script>
<% include footer.ejs %>