<% include _head.ejs %>
<link href="/utils/flat-ui/css/vendor/lyz.calendar.css" rel="stylesheet" type="text/css" />
<link href="/css/topics.css" rel="stylesheet">
<style>
    .form-item{
        margin:10px auto 30px auto;
    }
</style>
<% include _header.ejs %>
<div class="navbar navbar-default navbar-static-top navber-transparent" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">菜单</span>
            </button>
            <a class="navbar-brand" href="/">nucleus</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="projectindex">项目</a></li>
                <li><a href="/allweekly">周报</a></li>
                <li><a href="#contact">动态</a></li>
                <li><a href="#contact">个人中心</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= user.name %> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">个人资料</a></li>
                        <li class="divider"></li>
                        <li><a href="/logout">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="c-info">
    <% if (error) { %>
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <%= error %>
    </div>
    <% } %>
</div>
<div class="c-info">
    <% if (success) { %>
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <%= success %>
    </div>
    <% } %>
</div>
<div class="container">
    <div class="row">

        <div class="col-xs-10 col-xs-offset-1 page">
            <div>
                <h1 class="page-title">
                    任务
                </h1>
            </div>
            <% if(member_type!=0){ %>
            <div>
                <div><input type="button"  id="todo_begin" class="btn" value="添加任务" onclick="show()" /></div>

                <form action="" method="post" data-remote="true" data-type="json" id="todo" style="display:none">
                    <div class="form-item">
                        <input  type="text"  class="form-control" id="todo-title" name="content" tabindex="1" placeholder="     任务描述" />
                    </div>
                    <div class="form-item">
                        <div class="invite-role-field">
                            任务负责人：
                            <select  class="form-control" id="choose-people" name="people" tabindex="1">
                                <% projectinf.forEach(function (item) { %>
                                <option value="<%= item.user_id%>"><%= item.user_name%></option>
                                <% }); %>
                            </select>
                        </div>
                    </div>
                    <div class="form-item">
                        任务完成时间：
                        <input id="txtEndDate" class="form-control" name="time" tabindex="1"/>
                    </div>
                    <div class="form-item">
                        <input type="hidden" value="<%=ssl%>" name="ss">
                        <button tabindex="1" class="btn" id="btn-post" type="submit" data-disable-with="正在提交...">发起任务</button>
                        <a tabindex="2" href="javascript:;" class="btn" id="link-cancel-post">取消</a>
                    </div>
                </form>


            </div>
            <% }%>
            <% if (todos.length > 0) { %>
            <h4 class="title">正在进行的任务</h4>
            <div class="messages" id="messages">
            <% todos.forEach(function (item) { if(item.finished==0){%>
                <div class="message">
                    <img class="avatar" src="/img/bj.jpg" />  <div class="name"><%=item.user_name%></div>   <span class="message-title">截至日期</span><span class="message-content"><% var date=new Date(item.finish_time)%><%= date.getFullYear()+"-"+(date.getMonth()+1)+"-"+date.getDate()%></span>
                    <div class="comment-info"><%if(user.id==item.admin_id){%><a href="/deleteTodo?id=<%=item.todo_id%>">删除</a><%}%><input class="custom-checkbox" value="<%= item.todo_id%>" id="checkbox1" name="checkbox" data-toggle="checkbox" type="checkbox"<% if(user.id!=item.admin_id){%> disabled=""<% }%> ></div></div>
                <% }}); %>
            </div>
            <h4 class="title">已经完成的任务</h4>
            <div class="messages">
                <% todos.forEach(function (item) { if(item.finished==1){%>
                <div class="message">
                    <img class="avatar" src="/img/bj.jpg" />  <div class="name"><%=item.user_name%></div>   <span class="message-title">截至日期</span><span class="message-content"><% var date=new Date(item.finish_time)%><%= date.getFullYear()+"-"+(date.getMonth()+1)+"-"+date.getDate()%></span>
                    <div class="comment-info"><img src="/img/go.png"> </div>
                </div>
                <%} }); %>
            </div>
            <% } else { %>
            <div class="empty">
                暂无任务
            </div>
            <% } %>

        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/utils/flat-ui/js/vendor/jquery-1.5.1.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/utils/flat-ui/js/flat-ui.min.js"></script>

<script src="/utils/flat-ui/js/vendor/lyz.calendar.min.js" type="text/javascript"></script>

<script>
    function show(){
        document.getElementById("todo_begin").style.display="none";
        document.getElementById("todo").style.display="block";
    }
    document.getElementById('link-cancel-post').addEventListener('click', function(e) {
        document.getElementById("todo_begin").style.display="block";
        document.getElementById("todo").style.display="none";
        // 当<a>触发click时，处理业务
    }, false);

    $(function () {
        $("#txtEndDate").calendar();
    });
    $('#messages').click(function () {

        var check = document.getElementsByName("checkbox");
        for (var i = 0; i < check.length; i++) {
        if (check[i].checked == true) {
            var todo_id = check[i].value;
            alert(todo_id);
            var data = {
                todo_id: todo_id,
                todos:"<%= todos%>"
            };
            $.post('/mission', data, function (res) {
                if (res.code=="success") {
                    alert('确认完成！');

                    window.location.href='/todo?ssl=<%= ssl%>';

                } else {
                    alert(res.code);
                    window.location.href='/projectindex';
                }
            });
        }
       }
    });
</script>
<% include _foot.ejs %>